/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/flexboxgrid";
// ---------------------------------------------



// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Montserrat', Impact, sans-serif;
$mainColor: #000;
$headingFont: 'Poppins', Impact, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #3797fc;
$linkColorHover: darken( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

$mainFontSize: 30px;

$heading1Size: 2.00em;
$heading2Size: 1.85em;
$heading3Size: 1.55em;
$heading4Size: 1.25em;

$grayBackgroundColor: #38647D;
$lightOnDarkColor: #f9f9f9;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

.column-50 {
  width: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text_small {
  font-size: 0.8em !important;
}

.text-large {
  font-size: 4em !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.shadowed {
  box-shadow: 1px 1px 3px 3px #999999;;
}

.underlined {
  text-decoration: underline;
}

@keyframes blink {
  50% {
    border-color: #000000;
    border-bottom: 5px solid;
  }
}

.blinking {
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: 5;
  animation-timing-function: step-end;
  animation-delay: 3s;
}

a {
  font-weight: 800;
}

.btn {
  background-color: $linkColor;
  color: #ffffff !important;
  font-family: $headingFont;
  font-size: 1em;
  display: inline-block;
  padding: 15px 40px;
  margin-top: 10px;
}

.btn:hover {
  background-color: $linkColorHover;
}

// body:after {
//   content: url(https://www.superwebpros.com/wp-content/uploads//2019/04/image2vector.svg);
//   transform: scale(.5);
//   position: fixed;
//   bottom: 1.5em;
//   margin: 0 36%;
//   display: inline-block;
//   z-index: 999;
// }

blockquote {
  background-color: $grayBackgroundColor !important;
  color: $lightOnDarkColor;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------